{% extends 'base.html.twig' %}

{% block title %}
	SnowTricks - New Password
{% endblock %}

{% block body %}
	<header class="py-5 bg-light border-bottom mb-4">
		<div class="container">
			<div class="text-center my-5">';
				<h1 class="fw-bolder">Change your password</h1>

			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				{{ include('security/modals.html.twig') }}
				{{ form_start(newPasswordForm) }}
					<div class="form-control">
						{{ form_row(newPasswordForm.password, {'attr':{'class':'form-control'}}) }}
						{{ form_row(newPasswordForm.confirm_Password, {'attr':{'class':'form-control'}}) }}
						<button type="submit" class="btn">Confirm change</button>
					</div>
				{{ form_end(newPasswordForm) }}
			</div>
		</div>
	</div>
{% endblock %}
