{% extends 'base.html.twig' %}

{% block title %}Figures index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<img src="uploads/_default/landscape_snowboard.jpg" height="800px">
		</div>
	</div>

	<div class="container">
		<div class="row">
			{% for figure in figures %}
				<div class="card" style="width: 18rem;">
					{% for image in figure.figureImgs|slice(0,1) %}
						<td>
							<img src="{{asset('/uploads/figures_img/' ~ image.imgName) }}" alt="Image" width="150px">
						</td>
					{% endfor %}


					<div class="card-body">

						<a href="{{ path('figures_show', {'id': figure.id}) }}">
							<h5 class="card-title">{{figure.figureName}}</h5>
						</a>
						{% if (is_granted('ROLE_USER') and (app.user.userLastName ~ " "~ app.user.userFirstName) == figure.figureAuthor) %}

							<button class="btn">
								<a href="{{ path('figures_edit', {'id': figure.id}) }}" class="btn">edit</a>
							</button>
							{{ include('figures/_delete_form.html.twig') }}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if is_granted('ROLE_USER') %}
		<a href="{{ path('figures_new') }}">Create new</a>
	{% endif %}

{% endblock %}
