{% extends 'base.html.twig' %}
{% block title %}
				SnowTricks - Learn tricks and Speak
			{% endblock %}

{% block body %}


	<img src="uploads/_default/landscape_snowboard.jpg" width="100%" class="img-fluid">
	{{ include('security/modals.html.twig') }}

	<div class="row ">
		{% for figure in figures %}
			<div class="col-lg-3" id="scrollsHome">
				<div class="card h-100">
					{% for image in figure.figureImgs|slice(0,1) %}
						<img src="{{asset('/uploads/figures_img/' ~ image.imgName) }}" class="card-img-top" alt="..." width="100%" height="100%">
					{% endfor %}

					<div class="card-body">
						<a href="{{ path('figures_show', {'id': figure.id}) }}">
							<h5 class="card-title">{{figure.figureName}}</h5>
						</a>
					</div>
					<div class="card-footer text-center">
						<small class="text-muted">Created :

							{{figure.figureDateAdd | format_datetime()}}</small>
						<br/>
						<small class="text-muted ">Modified :
							{{figure.figureDateModif | format_datetime()}}</small>
						<br/>
						{% if (is_granted('ROLE_USER') and (app.user.userLastName ~ " "~ app.user.userFirstName) == figure.figureAuthor or is_granted('ROLE_ADMIN')) %}
							{{ include('figures/editAndDeleteFigure.twig') }}
						{% endif %}
					</div>
				</div>
			</div>
			{% if loop.index is divisible by(4) %}
			</div>
			<div class="row">
			{% endif %}
		{% endfor %}
	</div>
	<br/>
	<nav aria-label="...">
		<ul class="pagination justify-content-center">
			{% for i in 0.. countPage -1 %}
				<li class="page-item">
					<a class="page-link" href="{{ path('figures_index', { 'page': i }) }}">{{i}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>


{% endblock %}
