{% extends 'base.html.twig' %}

{% block title %}Figures index
{% endblock %}

{% block body %}
	<a href="#scrollsHome">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewbox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
		</svg>
	</a>
	<img src="uploads/_default/landscape_snowboard.jpg" width="100%" class="img-fluid">

	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for figure in figures %}
			<div class="col" id="scrollsHome">
				<div class="card h-100">
					{% for image in figure.figureImgs|slice(0,1) %}
						<img src="{{asset('/uploads/figures_img/' ~ image.imgName) }}" class="card-img-top" alt="...">
					{% endfor %}
					<div class="card-body">
						<a href="{{ path('figures_show', {'id': figure.id}) }}">
							<h5 class="card-title">{{figure.figureName}}</h5>
						</a>
					</div>
					<div class="card-footer text-center">
						<small class="text-muted">Created :
							{{figure.figureDateAdd | format_datetime()}}</small>
						<br/>
						<small class="text-muted ">Modified :
							{{figure.figureDateModif | format_datetime()}}</small>
						<br/>
						{% if (is_granted('ROLE_USER') and (app.user.userLastName ~ " "~ app.user.userFirstName) == figure.figureAuthor or is_granted('ROLE_ADMIN')) %}
							{{ include('figures/editAndDeleteFigure.twig') }}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
