{% extends 'base.html.twig' %}

{% block title %}Figures index
{% endblock %}

{% block body %}
	<img src="uploads/_default/landscape_snowboard.jpg" width="100%" class="img-fluid">

	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for figure in figures %}
			<div class="col">
				<div class="card h-100">
					{% for image in figure.figureImgs|slice(0,1) %}
						<img src="{{asset('/uploads/figures_img/' ~ image.imgName) }}" class="card-img-top" alt="...">
					{% endfor %}
					<div class="card-body">
						<a href="{{ path('figures_show', {'id': figure.id}) }}">
							<h5 class="card-title">{{figure.figureName}}</h5>
						</a>
					</div>
					<div class="card-footer text-center">
						<small class="text-muted">Created :
							{{figure.figureDateAdd | format_datetime()}}</small>
						<br/>
						<small class="text-muted ">Modified :
							{{figure.figureDateModif | format_datetime()}}</small>
						<br/>
						{% if (is_granted('ROLE_USER') and (app.user.userLastName ~ " "~ app.user.userFirstName) == figure.figureAuthor or is_granted('ROLE_ADMIN')) %}
							{{ include('figures/editAndDeleteFigure.twig') }}
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
