{% extends 'base.html.twig' %}

{% block title %}Figures index
{% endblock %}

{% block body %}


	<img src="uploads/_default/landscape_snowboard.jpg" width="100%" class="img-fluid">
	<section>
		{% for message in app.flashes('success') %}
			<script type="text/javascript">
				$(window).on('load', function () {
$('#exampleModal').modal('show');
});
hideModal = function () {
$('#exampleModal').modal('hide');
};
			</script>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">{{ message }}</h5>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideModal()">Close</button>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
	<div class="row row-cols-1 row-cols-md-3 g-4">


		{% for figure in figures %}
			<div class="col" id="scrollsHome">
				<div class="card h-100">
					{% for image in figure.figureImgs|slice(0,1) %}
						<img src="{{asset('/uploads/figures_img/' ~ image.imgName) }}" class="card-img-top" alt="..." width="100%" height="100%">
					{% endfor %}

					<div class="card-body">
						<a href="{{ path('figures_show', {'id': figure.id}) }}">
							<h5 class="card-title">{{figure.figureName}}</h5>
						</a>
					</div>
					<div class="card-footer text-center">
						<small class="text-muted">Created :

							{{figure.figureDateAdd | format_datetime()}}</small>
						<br/>
						<small class="text-muted ">Modified :
							{{figure.figureDateModif | format_datetime()}}</small>
						<br/>
						{% if (is_granted('ROLE_USER') and (app.user.userLastName ~ " "~ app.user.userFirstName) == figure.figureAuthor or is_granted('ROLE_ADMIN')) %}
							{{ include('figures/editAndDeleteFigure.twig') }}
						{% endif %}
					</div>
				</div>
			</div>
			{% if loop.index is divisible by(5) %}
			</div>
			<div class="row row-cols-1 row-cols-md-3 g-4">
			{% endif %}

		{% endfor %}
	</div>
	{% for i in 0.. countPage -1 %}
		<a href="{{ path('figures_index', { 'page': i }) }}">
			{{i}}
		</a>
	{% endfor %}


{% endblock %}
