{% extends 'base.html.twig' %}

{% block title %}Figures
{% endblock %}

{% block body %}
	<header class="py-5 bg-light border-bottom mb-4">
		<div class="container">
			<div class="text-center my-5">';
				<h1 class="fw-bolder">{{ figure.figureName }}
				</h1>
				<p class="lead mb-0 fst-italic "> created by {{ figure.figureAuthor }} at {{figure.figureDateAdd|date()}}</p>
				<p class="lead mb-0 fst-italic"> Group : {{ figure.FigureGroup }}</p>
			</div>
		</div>
	</header>
	{{ include('security/modals.html.twig') }}
	<div class="container">
		<div class="row">
			{% for image in figure.figureImgs %}
				<div class="col-lg-4 ">
					<img src="{{asset('/uploads/figures_img/' ~ image.imgName) }}" alt="Image" width="100%">
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-11 text-center">
			
				{{ figure.figureDescription }}
				<p class="lead mb-0 fst-italic "> last modification : {{ figure.figureDateModif ? figure.figureDateModif|date('Y-m-d H:i:s') : 'None' }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<div class="col-12">
				{{figure.figureVideo | raw}}
				</div>
				<p class="text-center"><a href="{{ path('figures_index') }}">back to list</a></p>
			</div>
			{% if (is_granted('ROLE_USER') and (app.user.userLastName ~ " " ~ app.user.userFirstName) == figure.figureAuthor or is_granted('ROLE_ADMIN')) %}
				<div class="col-12 text-center">
					{{ include('figures/editAndDeleteFigure.twig') }}
				</div>
			{% endif %}
		</div>
	</div>

	

	<div class="container">
		{% if (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) %}
			<h2>
				Laissez un commentaire
			</h2>
			{{form_start(commentForm)}}
			<div class="form-control">
				{{ form_row(commentForm.Content, {'attr':{'class':'form-control text-center'}}) }}

				{{ form_row(commentForm.Author, {'attr':{'class':'form-control text-center'}}) }}

				<div class="dropdown-divider"></div>
				{{ form_row(commentForm.Submit, {'attr':{'class':'form-control text-center'}}) }}
				<a href="{{ path('figures_index') }}">
					->Back to list</a>
			</div>
			{{form_end(commentForm)}}
		{% endif %}
		{% for comment in comments %}
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-2">
							{% if comment.user.userPicture == "../_default/userAvatar.png" %}
								<img src="{{asset('/uploads/_default/' ~ comment.user.userPicture)}}" class="img img-rounded img-fluid">
							{% else %}
								<img src="{{asset('/uploads/users_img/' ~ comment.user.userPicture)}}" class="img img-rounded img-fluid">
							{% endif %}
							<p class="text-secondary text-center">{{comment.CreatedAt | date()}}</p>
						</div>
						<div class="col-md-10">
							<p>
								<strong>{{comment.Author}}</strong>
							</p>
							<div class="clearfix">{{comment.Content}}</div>
							<p></p>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<nav aria-label="...">
			<ul class="pagination justify-content-center">
			{% if countPage != 0 %}
				{% for i in 0.. countPage -1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('figures_show', { 'page': i ,'id':figure.id}) }}">{{i}}
						</a>
					</li>
				{% endfor %}
			{% endif %}
			
				
			</ul>
		</nav>
	</div>
{% endblock %}
