{% extends 'base.html.twig' %}

{% block title %}Forgot password ?
{% endblock %}

{% block body %}
	<header class="py-5 bg-light border-bottom mb-4">
		<div class="container">
			<div class="text-center my-5">';
				<h1 class="fw-bolder">You're forgot your password ?!
				</h1>
				<p class="lead mb-0 fst-italic">Don't worry, be happy !</p>
			</div>
		</div>
	</header>
	{{ include('security/modals.html.twig') }}
	{{ form_start(forgotPassword) }}
	<div class="form-control">
		{{ form_row(forgotPassword.userEmail, {'attr':{'class':'form-control'}}) }}
		<div class="form-group text-center">
			<button type="submit" class="btn">Demander un nouveau mot de passe</button>
			<a href="{{ path('app_login') }}">
			<br/>
				->Back to login</a>
		</div>
	</div>
	{{form_end(forgotPassword)}}
{% endblock %}
